kof-loading([isLoading]="isLoading")
    table.table.table-hover.table-striped(*ngIf="contracts.length")
        thead
            tr
                th ID
                th Дата заключения
                th.hidden-xs Дата истечения
                th.hidden-xs Название организации
                th ИНН организации
                th Статус
        tbody(*ngFor="let contract of contracts")
            tr((click)="selectContract(contract)")
                td {{contract.id}}
                td {{contract.validSince | date:"dd.MM.yyyy"}}
                td.hidden-xs {{contract.validUntil | date:"dd.MM.yyyy"}}
                td.hidden-xs {{contract?.contractor?.legalEntity ? contract.contractor.legalEntity.registeredName : null}}
                td {{contract?.contractor?.legalEntity ? contract.contractor.legalEntity.inn : null}}
                td {{!!contract.terminatedAt ? 'завершен' : !contract.validSince ? 'в&nbsp;обработке' : 'активен'}}
            tr(*ngIf="contract === selectedContract")
                td(colspan=6)
                    .x_panel
                        kof-contract-view([contract]="contract")
                    .x_panel
                        label Средства вывода
                        kof-payout-tools([contractID]="contract.id")
    span(*ngIf="!contracts.length") Нет контрактов
    a.btn.btn-primary.pull-right([routerLink]="['/management/contracts/create']")
        | Создать контракт
