div(*ngIf="chartData?.labels?.length > 0")
    canvas(
        baseChart,
        chartType="line",
        [datasets]="datasets",
        [labels]="chartData.labels",
        [options]="options",
        [colors]="chartColors",
        height="70"
    )
div(*ngIf="chartData?.labels?.length === 0") Данные отсутствуют