form.form-horizontal.form-label-left.css-form([formGroup]="contractGroup", novalidate)
    .ln_solid
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Зарегистрированное наименование юридического лица
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="registeredName")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Регистрационный номер (ОГРН/ОГРНИП)
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="registeredNumber")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Идентификационный номер налогоплательщика (ИНН)
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="inn")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Почтовый адрес для отправки корреспонденции
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="postAddress")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Почтовый адрес места нахождения
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="actualAddress")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Наименование должности ЕИО/представителя
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="representativePosition")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left ФИО ЕИО/представителя
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="representativeFullName")
    .form-group
        .col-xs-12.col-sm-5
            label.text-left Данные документа ЕИО/представителя
                span.highlighted  *
        .col-xs-12.col-sm-7
            input.form-control(type="text", formControlName="representativeDocument")
    .ln_solid
    div(formGroupName="bankAccount")
        .form-group
            .col-xs-12.col-sm-5
                label.text-left БИК банковской организации
                    span.highlighted  *
            .col-xs-12.col-sm-7
                input.form-control(type="text", formControlName="bankBik")
        .form-group
            .col-xs-12.col-sm-5
                label.text-left Наименование банка
                    span.highlighted  *
            .col-xs-12.col-sm-7
                input.form-control(type="text", formControlName="bankName")
        .form-group
            .col-xs-12.col-sm-5
                label.text-left Корреспондентский счет
                    span.highlighted  *
            .col-xs-12.col-sm-7
                input.form-control(type="text", formControlName="bankPostAccount")
        .form-group
            .col-xs-12.col-sm-5
                label.text-left Расчетный счет
                    span.highlighted  *
            .col-xs-12.col-sm-7
                input.form-control(type="text", formControlName="account")
    .ln_solid