.kof-select
    select.form-control([ngModel]="model" , (change)="onSelect($event.target.value)", [ngModelOptions]="modelOptions")
        option(*ngIf="placeholder" ,[value]="''") {{placeholder}}
        option(*ngFor="let item of items", [value]="item.value") {{item.label}}
