.tile
    kof-add-shop((onShopReady)="shopFieldsReady($event)")
.actionBar
    .text-center
        a.btn.btn-primary((click)="stepBackward()") Отмена
        a.btn(
            (click)="stepForward()",
            [ngClass]="{'buttonDisabled': isShopFieldsReady === false, " +
            "'btn-default': showFinishButton === true," +
            "'btn-success': showFinishButton === false}"
        )
            span(*ngIf="showFinishButton === true") Создать заявку
            span(*ngIf="showFinishButton === false") Вперед