.row
    .col-xs-12
        form.form-inline
            .form-group
                label.control-label Статистика с
                input(type="date", name="fromTime", [(ngModel)]="pickerFromTime")
            .form-group
                label.control-label по
                input(type="date", name="toTime", [(ngModel)]="pickerToTime")
            button.btn.btn-default(style="margin-bottom: 0; margin-right: 0", (click)="loadData()") Показать
.row
    .col-xs-12
        kof-info-panel([uniqueCount]="uniqueCount", [successfulCount]="successfulCount",
            [unfinishedCount]="unfinishedCount", [profit]="profit", [account]="account")
.row
    .col-xs-12
        .x_panel.tile
            .x_title
                h4 Оборот
            .x_content
                kof-revenue([fromTime]="chartFromTime", [chartData]="revenueChartData")
.row
    .col-xs-12
        .x_panel.tile
            .x_title
                h4 Конверсия оплат
            .x_content
                kof-conversion([fromTime]="chartFromTime", [chartData]="conversionChartData")
.row
    .col-xs-12.col-sm-6
        .x_panel.tile
            .x_title
                h4 Способы оплаты
            .x_content
                kof-payment-method([chartData]="paymentMethodChartData")
    .col-xs-12.col-sm-6
        .x_panel.tile
            .x_title
                h4 Геолокация
            .x_content
                kof-geolocation([chartData]="geoChartData")