.row
    .col-md-12
        form.form-inline.pull-right
            .form-group
                label.control-label Статистика с&nbsp;
                .ui-calendar
                    p-calendar.ui-inputtext(name="fromTime", [(ngModel)]="fromTimeDate", dateFormat="dd.mm.yy")
            .form-group
                label.control-label &nbsp;по&nbsp;
                .ui-calendar
                    p-calendar.ui-inputtext(name="toTime", [(ngModel)]="toTimeDate", dateFormat = "dd.mm.yy")
            button.btn.btn-default(style="margin-bottom: 0; margin-right: 0; margin-left: 5px;", (click)="loadData()") Показать
.row
    info-panel([uniqueCount]="uniqueCount", [successfulCount]="successfulCount",
    [unfinishedCount]="unfinishedCount", [profit]="profit", [account]="account")
.row
    .col-md-12
        .x_panel.tile
            .x_title
                h4 Оборот
            .x_content
                revenue([fromTime]="chartFromTime", [chartData]="revenueChartData")
.row
    .col-md-12
        .x_panel.tile
            .x_title
                h4 Конверсия оплат
            .x_content
                conversion([fromTime]="chartFromTime", [chartData]="conversionChartData")
.row
    .col-md-6
        .x_panel.tile
            .x_title
                h4 Способы оплаты
            .x_content
                payment-method([chartData]="paymentMethodChartData")
    .col-md-6
        .x_panel.tile
            .x_title
                h4 Геолокация
            .x_content
                geolocation([chartData]="geoChartData")