doctype html
kof-loading([isLoading]="isLoading")
    kof-create-contract(
        #createContractRef,
        (onChange)="contractorChange($event)"
    )
    kof-create-paytool(
        #createPaytoolRef,
        (onChange)="payoutToolChange($event)",
        [contractBankAccount]="contractorBankAccount"
    )
    .form-group
        .col-xs-12.col-sm-6.col-sm-offset-3
            button.btn.btn-primary.pull-right(
                type="button",
                (click)="createContract()"
            ) Создать контракт
            a.btn.btn-default(type="reset", (click)="navigateBack()") Назад
