kof-loading([isLoading]="isLoading")
    .text-center(*ngIf="!payoutTools || payoutTools?.length === 0")
        h4 Счета по контракту отсутствуют
    .x_panel(*ngIf="payoutTools?.length > 0")
        h4 Выбор существующего счета
        kof-select(
            *ngIf="selectableItems.length",
            [hasError]="errorHighlighted",
            [(ngModel)]="selectedPayoutToolID",
            [items]="selectableItems",
            (onChange)="selectPayoutTool()",
            [modelOptions]="{standalone: true}",
            name='selectedPayoutTool'
        )
        .ln_solid(*ngIf="selectedPayoutTool")
        kof-payout-tool-view([payoutTool]="selectedPayoutTool")