.row
    .col-xs-12
        .x_panel.tile
            .form_wizard.wizard_horizontal
                ul.wizard_steps.anchor
                    li
                        a([ngClass]="{'disabled': stepOneVisited === false, 'done': stepOneVisited === true && currentWizardStep !== wizardContractStep, 'selected': currentWizardStep === wizardContractStep}")
                            span.step_no 1
                            span.step_descr Шаг 1
                                br
                                small Выбор контракта
                    li
                        a([ngClass]="{'disabled': stepTwoVisited === false, 'done': stepTwoVisited === true && currentWizardStep !== wizardAccountStep, 'selected': currentWizardStep === wizardAccountStep}")
                            span.step_no 2
                            span.step_descr Шаг 2
                                br
                                small Выбор счета
                    li
                        a([ngClass]="{'disabled': stepThreeVisited === false, 'done': stepThreeVisited === true && currentWizardStep !== wizardShopDetailsStep, 'selected': currentWizardStep === wizardShopDetailsStep}")
                            span.step_no 3
                            span.step_descr Шаг 3
                                br
                                small Данные магазина
            kof-loading([isLoading]="wizardArgs.isLoading")
                kof-step1-contract(
                    *ngIf="currentWizardStep === wizardContractStep",
                    (steppedBackward)="returnToManagement()",
                    (steppedForward)="proceedToAccountStep()",
                    [wizardArgs]="wizardArgs"
                )
                kof-step2-account(
                    *ngIf="currentWizardStep === wizardAccountStep",
                    (steppedBackward)="returnToContractStep()",
                    (steppedForward)="proceedToShopDetailsStep()",
                    [wizardArgs]="wizardArgs"
                )
                kof-step3-shop(
                    *ngIf="currentWizardStep === wizardShopDetailsStep",
                    (steppedBackward)="returnToAccountStep()",
                    (steppedForward)="finishWizard()",
                    [wizardArgs]="wizardArgs"
                )