.row
    .col-xs-12.col-md-8.col-md-offset-2
        .x_panel
            .x_title
                h5 Детали магазина
            .x_content
                kof-shop-details([shop]="shop", [category]="category")

        .x_panel
            .x_title
                h5 Детали контракта
            .x_content
                kof-contract-details([contract]="contract")

        .x_panel
            .x_title
                h5 Детали средства вывода
            .x_content
                kof-payout-tool-details([payoutTool]="payoutTool")

        .x_panel
            .x_title
                h5 Действия
            .x_content
                div(*ngIf="shop && !shop.isBlocked")
                    button.btn.btn-primary.btn-sm(*ngIf="shop.isSuspended", (click)="activateShop()") Активировать магазин
                    button.btn.btn-primary.btn-sm(*ngIf="!shop.isSuspended", (click)="suspendShop()") Заморозить магазин
