.x_panel
    .x_content
        .ln_solid
        kof-contract-group(*ngIf="currentStep === step.contract")
        kof-bank-account-form(*ngIf="currentStep === step.payoutTool", [form]="payoutToolGroup")
        kof-shop-group(*ngIf="currentStep === step.shop")
        .ln_solid
        .row
            .col-xs-12
                button.btn.btn-default.pull-right(
                    *ngIf="currentStep !== step.shop",
                    [disabled]="!validStep",
                    (click)="next()") Далее
                button.btn.btn-primary.pull-right(
                    *ngIf="currentStep === step.shop",
                    [disabled]="!validStep",
                    (click)="createClaim()") Создать заявку