.row
    .col-xs-12
        .x_panel
            .x_title
                .row
                    .col-xs-6
                        h4 Webhooks&nbsp;
                            small
                                a(href="https://rbkmoney.github.io/api/#tag/Webhooks", target="_blank") Webhooks
                    .col-xs-6.text-right
                        a(routerLink="/api/webhook/new")
                            button.btn.btn-primary Создать webhook
            table.table.table-striped
                thead
                    tr
                        th ID
                        th Статус
                        th URL
                        th ID магазина
                        th События
                        th Публичный ключ
                        th
                tbody
                    tr(*ngFor="let webhook of webhooksList | async")
                        th(scope="row") {{webhook.id}}
                        td {{webhook.active}}
                        td {{webhook.url}}
                        td {{webhook.scope.shopID}}
                        td
                            span(*ngFor="let eventType of webhook.scope.eventTypes")  {{eventType}},
                        td {{webhook.publicKey}}
                        td
                            button.btn.btn-danger.pull-right(data-toggle="modal", [attr.data-target]="'#' + webhook.id", data-backdrop="false")
                                i.fa.fa-trash
                            .modal.fade.remove-modal(tabindex="-1", role="dialog", id="{{webhook.id}}")
                                .modal-dialog.modal-sm
                                    .modal-content
                                        .modal-header
                                            h5.modal-title Вы действительно хотите удалить этот webhook ({{webhook.id}})?
                                        .modal-footer
                                            .btn-toolbar.pull-left
                                                .btn-group.btn-group-sm
                                                    button.btn.btn-danger(type="button", data-dismiss="modal", (click)="deleteWebhook(webhook.id)") Да
                                                .btn-group.btn-group-sm
                                                    button.btn.btn-default(type="button", data-dismiss="modal") Нет

