.x_title
    h4 Создание нового магазина
.x_content
    .form_wizard.wizard_horizontal
        ul.wizard_steps
            li.first_step
                a([ngClass]="{'selected': currentStep === contractStep, 'done': currentStep > contractStep}")
                    span.step_no 1
                    span.step_descr Контракт
            li
                a([ngClass]="{'selected': currentStep === payoutToolStep, 'done': currentStep > payoutToolStep, 'disabled': currentStep < payoutToolStep}")
                    span.step_no 2
                    span.step_descr Средство вывода
            li
                a([ngClass]="{'selected': currentStep === shopDetailsStep, 'done': currentStep > shopDetailsStep, 'disabled': currentStep < shopDetailsStep}")
                    span.step_no 3
                    span.step_descr Данные магазина
    .row
        .col-xs-12.col-md-10.col-md-offset-1
            kof-selection-contract(
                *ngIf="currentStep === contractStep",
                (steppedForward)="goToPayoutToolStep($event)"
            )
            kof-selection-paytool(
                *ngIf="currentStep === payoutToolStep",
                (steppedForward)="goToShopDetailsStep($event)",
                [contractDecision]="contractDecision"
            )
            kof-selection-shop-fields(
                *ngIf="currentStep === shopDetailsStep",
                (onCreated)="finishWizard()",
                [contractDecision]="contractDecision",
            )
.modal.fade.cancel-create-shop-modal(tabindex="-1" role="dialog")
    .modal-dialog.modal-sm
        .modal-content.modal-wide
            .modal-header
                h5.modal-title Подтверждение
            .modal-body Отменить создание магазина?
            .modal-footer
                .btn-toolbar.pull-left
                    .btn-group.btn-group-sm
                        button.btn.btn-default(type="button", data-dismiss="modal") Нет
                .btn-toolbar.pull-right
                    .btn-group.btn-group-sm
                        button.btn.btn-danger(type="button", data-dismiss="modal", (click)="returnToManagement()") Да