.panel.panel-default
    .panel-heading((click)="show()")
        a {{title}}: {{shop.details.name}}
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        kof-modification-detail([name]="'Название магазина'", [value]="shop.details.name")
        kof-modification-detail(*ngIf="shop.contractID", [name]="'Идентификатор контракта'", [value]="shop.contractID")
        kof-modification-detail(*ngIf="shop.details.description", [name]="'Описание'", [value]="shop.details.description")
        kof-modification-detail(*ngIf="shop?.details?.location?.url", [name]="'Адрес'", [value]="shop.details.location.url")
        kof-modification-detail(*ngIf="shop?.callbackHandler?.url", [name]="'Callback handler url'", [value]="shop.callbackHandler.url")
        kof-modification-detail(*ngIf="shop?.callbackHandler?.publicKey", [name]="'Callback handler public key'", [value]="shop.callbackHandler.publicKey")
        kof-modification-detail(*ngIf="shop.categoryID", [name]="'Идентификатор категории'", [value]="shop.categoryID")
        kof-modification-detail(*ngIf="shop.payoutToolID", [name]="'Идентификатор средства вывода'", [value]="shop.payoutToolID")
