.panel.panel-default
    .panel-heading((click)="show()")
        a Активная заявка
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        div(*ngFor="let changeSet of claim.changeset")
            kof-contract-creation(*ngIf="changeSet.contractModificationType === 'ContractCreation'", [changeSet]="changeSet")
            kof-contract-termination(*ngIf="changeSet.contractModificationType === 'ContractTermination'", [changeSet]="changeSet")
            kof-contract-adjustment-creation(*ngIf="changeSet.contractModificationType === 'ContractAdjustmentCreation'", [changeSet]="changeSet")
            kof-contract-legal-agreement-binding(*ngIf="changeSet.contractModificationType === 'ContractLegalAgreementBinding'", [changeSet]="changeSet")
            kof-contract-payout-tool-creation(*ngIf="changeSet.contractModificationType === 'ContractPayoutToolCreation'", [changeSet]="changeSet")
            kof-shop-creation(*ngIf="changeSet.shopModificationType === 'ShopCreation'", [changeSet]="changeSet")
            kof-shop-account-creation(*ngIf="changeSet.shopModificationType === 'ShopAccountCreation'", [changeSet]="changeSet")
            kof-shop-contract-binding(*ngIf="changeSet.shopModificationType === 'ShopContractBinding'", [changeSet]="changeSet")
            kof-shop-details-change(*ngIf="changeSet.shopModificationType === 'ShopDetailsChange'", [changeSet]="changeSet")
            kof-shop-category-change(*ngIf="changeSet.shopModificationType === 'ShopCategoryChange'", [changeSet]="changeSet")
            kof-shop-location-change(*ngIf="changeSet.shopModificationType === 'ShopLocationChange'", [changeSet]="changeSet")
            kof-shop-callback-handler-setup(*ngIf="changeSet.shopModificationType === 'ShopCallbackHandlerSetup'", [changeSet]="changeSet")
            kof-shop-callback-handler-teardown(*ngIf="changeSet.shopModificationType === 'ShopCallbackHandlerTeardown'", [changeSet]="changeSet")
