form.css-form([formGroup]="form", novalidate)
    .row.form-group
        .col-xs-12
            label.text-left Наименование предлагаемых товаров или услуг:
                span.highlighted  *
            input.form-control(formControlName="product")
    .row
        .col-xs-12.col-sm-4
            .form-group
                label.text-left Тип ограничения стоимости:
                    span.highlighted
                kof-select(formControlName="costType", [items]="costTypesItems", [placeholder]="'Без ограничений'")
        div(*ngIf="form.value.costType === 'InvoiceTemplateCostFixed'")
            .col-xs-12.col-sm-8
                .form-group
                    label.text-left Стоимость предлагаемых товаров или услуг, в рублях:
                        span.highlighted  *
                    input.form-control(type="number", formControlName="costAmount", kofMin=10)
        div(*ngIf="form.value.costType === 'InvoiceTemplateCostRange'")
            .col-xs-6.col-sm-4
                .form-group
                    label.text-left Нижняя граница стоимости, в рублях:
                        span.highlighted  *
                    input.form-control(type="number", formControlName="costLowerBound", kofMin=10, kofMax="{{form.value.costUpperBound}}")
            .col-xs-6.col-sm-4
                .form-group
                    label.text-left Верхняя граница стоимости, в рублях:
                        span.highlighted  *
                    input.form-control(type="number", formControlName="costUpperBound", kofMin="{{form.value.costLowerBound}}")
    .row.form-group
        .col-xs-12
            label.text-left Описание предлагаемых товаров или услуг:
            input.form-control(formControlName="description")
    .row.form-group
        .col-xs-12
            label.text-left Время жизни инвойса:
        .col-xs-4
            input.form-control(type="number", formControlName="lifetimeDays", kofMin=0, [placeholder]="'дни'")
        .col-xs-4
            input.form-control(type="number", formControlName="lifetimeMonths", kofMin=0, [placeholder]="'месяцы'")
        .col-xs-4
            input.form-control(type="number", formControlName="lifetimeYears", kofMin=0, [placeholder]="'года'")
    .row.form-group
        .col-xs-12
            button.btn.btn-primary.pull-right((click)="createInvoiceTemplate(form.value)", [disabled]="!form.valid || isLoading") Создать шаблон
p Form value: {{ form.value | json }}
p Form status: {{ form.status | json }}
