form.css-form([formGroup]="form", novalidate)
    .row.form-group
        .col-xs-12
            label.text-left Наименование предлагаемых товаров или услуг:
                span.highlighted  *
            input.form-control(formControlName="product")
    .row
        .col-xs-12.col-sm-4
            .form-group
                label.text-left Тип ограничения стоимости:
                    span.highlighted
                kof-select(formControlName="selectedCostType", [items]="costTypesItems", [placeholder]="'Без ограничений'")
        div(formGroupName="cost")
            div(*ngIf="form.value.cost.costType === 'InvoiceTemplateCostFixed'")
                .col-xs-12.col-sm-8
                    .form-group
                        label.text-left Стоимость предлагаемых товаров или услуг, в рублях:
                            span.highlighted  *
                        input.form-control(type="number", formControlName="amount")
            div(*ngIf="form.value.cost.costType === 'InvoiceTemplateCostRange'")
                .col-xs-6.col-sm-4
                    .form-group
                        label.text-left Нижняя граница стоимости, в рублях:
                            span.highlighted  *
                        input.form-control(type="number", formControlName="lowerBound")
                .col-xs-6.col-sm-4
                    .form-group
                        label.text-left Верхняя граница стоимости, в рублях:
                            span.highlighted  *
                        input.form-control(type="number", formControlName="upperBound")
    .row.form-group
        .col-xs-12
            label.text-left Описание предлагаемых товаров или услуг:
            input.form-control(formControlName="description")
    .row.form-group(formGroupName="lifetime")
        .col-xs-12
            label.text-left Время жизни инвойса:
        .col-xs-4
            input.form-control(type="number", formControlName="days", [placeholder]="'дни'")
        .col-xs-4
            input.form-control(type="number", formControlName="month", [placeholder]="'месяцы'")
        .col-xs-4
            input.form-control(type="number", formControlName="years", [placeholder]="'года'")
    .row.form-group
        .col-xs-12
            button.btn.btn-primary.pull-right((click)="createInvoiceTemplate()", [disabled]="!form.valid") Создать шаблон
p Form value: {{ form.value | json }}
p Form status: {{ form.status | json }}
