.top_nav
    nav.nav_menu
        ol.breadcrumb.landing-top-panel-breadcrumb
            li
                a(routerLink="/") Главная
            li.active Создание магазина
        kof-top-panel-actions
