.x_panel.tile
    .x_content
        kof-loading([isLoading]="isLoading")
            kof-create-contract(
                *ngIf="contractor",
                (onChange)="onContractorChange($event)",
                [defaultContractor]="contractor"
            )
            kof-create-paytool(
                *ngIf="payoutTool",
                (onChange)="onPayoutToolChange($event)",
                [contractBankAccount]="contractor && contractor.bankAccount",
                [defaultPayoutTool]="payoutTool"
            )
            kof-add-shop(
                *ngIf="shop",
                (onChange)="onShopFieldsChange($event)",
                [defaultShop]="shop"
            )
            kof-edit-shop(
                *ngIf="editableShop && editableShop.shop",
                [shop]="editableShop.shop",
                (onChange)="onShopEditingChange($event)"
            )
            .form-group
                .col-xs-12.col-sm-6.col-sm-offset-3
                    button.btn.btn-primary.pull-right(type="button", [disabled]="!canSubmit()", (click)="saveChanges()") Сохранить изменения
                    a.btn.btn-default(type="reset", (click)="returnToManagement()") Назад
