.panel.panel-default
    .panel-heading((click)="show()")
        a Привязка юридического соглашения
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        kof-modification-detail([name]="'ID договора'", [value]="changeSet.contractID")
