div(*ngIf="contractItems")
    .row
        .col-xs-12.col-md-8.col-md-offset-2
            .x_panel
                .x_title
                    h5 Выбор контракта
                .x_content
                    .btn-group
                        label.btn.btn-sm.btn-default(*ngFor="let contractItem of contractItems", [ngClass]="{'active': contractItem.value === selectedContractID}")
                            input(type="radio", value="{{contractItem.value}}", (click)="onSelectContract(contractItem.value)")
                            | {{contractItem.label}}

    div(*ngIf="selectedContract")
        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_title
                        h5 Данные контракта
                    .x_content
                        kof-contract-details([contract]="selectedContract")

    div(*ngIf="!selectedContract")
        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_title
                        h5 Создание контракта
                    .x_content
                        kof-contract-form-2([form]="contractForm")

        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_title
                        h5 Создание средства вывода
                    .x_content
                        kof-payout-tool-form-2([form]="payoutToolForm")

.row
    .col-xs-12.col-md-8.col-md-offset-2
        .x_panel
            .x_title
                h5 Действия
            .x_content
                button.btn.btn-default((click)="navigateBack()") Вернуться
                button.btn.btn-primary(
                    *ngIf="contractItems && !selectedContract",
                    [disabled]="contractForm.invalid || payoutToolForm.invalid",
                    (click)="createContract()"
                ) Создать новый контракт и привязать его
                button.btn.btn-primary(
                    *ngIf="selectedContract && selectedContract.id !== shop.contractID",
                    (click)="updateContract()"
                ) Привязать выбранный контракт
