div(*ngIf="contractItems")
    .row
        .col-xs-12.col-md-8.col-md-offset-2
            .x_panel
                .x_title
                    .row
                        .col-xs-6
                            h5 Выбор контракта
                        .col-xs-6
                            button.btn.btn-default.btn-sm.pull-right((click)="navigateBack()") Назад
                .x_content
                    .btn-group
                        label.btn.btn-sm.btn-default(*ngFor="let contractItem of contractItems", [ngClass]="{'active': contractItem.value === selectedContractID}")
                            input(type="radio", value="{{contractItem.value}}", (click)="onSelectContract(contractItem.value)")
                            | {{contractItem.label}}

    div(*ngIf="selectedContract")
        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_title
                        h5 Данные контракта
                    .x_content
                        kof-contract-details([contract]="selectedContract")

                        div(*ngIf="selectedContract && selectedContract.id !== shop.contractID")
                            .ln_solid
                            button.btn.btn-primary.pull-right((click)="updateContract()") Привязать данный контракт

    div(*ngIf="!selectedContract")
        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_title
                        h5 Создание контракта
                    .x_content
                        kof-contract-form([form]="contractForm")

        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_title
                        h5 Создание средства вывода
                    .x_content
                        kof-payout-tool-form([form]="payoutToolForm", [bankAccount]="contractForm.value.bankAccount")

        .row
            .col-xs-12.col-md-8.col-md-offset-2
                .x_panel
                    .x_content
                        button.btn.btn-primary.pull-right(
                            *ngIf="contractItems && !selectedContract",
                            [disabled]="contractForm.invalid || payoutToolForm.invalid",
                            (click)="createContract()"
                        ) Создать новый контракт и привязать его
