.row
    .col-md-12
        .x_panel.tile
            .x_content
                form.form-horizontal
                    .form-group
                        .col-md-1
                            label.control-label Магазин
                        .col-md-5(*ngIf="shopItems.length")
                            ng-select([options]="shopItems", placeholder="Выберите магазин", (selected)="onSelectShop($event)")
                ul.nav.nav-tabs.bar_tabs(*ngIf="selectedShopID")
                    li([routerLink]="['dashboard']", [routerLinkActive]="['active']")
                        a Статистика
                    li([routerLink]="['finance']", [routerLinkActive]="['active']")
                        a Финансы
                .tab-content
                    router-outlet
.row(*ngIf="!shopItems.length")
    .col-md-12
        .jumbotron
            h1 Список магазинов пуст
            p Создайте новый магазин во вкладке "Мои магазины"