.row
    .col-xs-12
        .x_panel.tile
            .x_content
                form.form-horizontal
                    .form-group
                        .col-xs-1
                            label.control-label Магазин
                        .col-md-5(*ngIf="shopItems.length")
                            select.form-control([(ngModel)]="selectedShopID", (change)="onSelectShop($event.target.value)", [ngModelOptions]="{standalone: true}")
                                option(*ngFor="let item of shopItems", [value]="item.value") {{item.label}}
                ul.nav.nav-tabs.bar_tabs(*ngIf="selectedShopID")
                    li([routerLink]="['dashboard']", [routerLinkActive]="['active']")
                        a Статистика
                    li([routerLink]="['finance']", [routerLinkActive]="['active']")
                        a Финансы
                .tab-content
                    router-outlet
.row(*ngIf="!shopItems.length")
    .col-xs-12
        .jumbotron
            h1 Список магазинов пуст
            p Создайте новый магазин во вкладке "Мои магазины"