.panel.panel-default
    .panel-heading((click)="show()")
        a Создание нового магазина
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        kof-modification-detail([name]="'Название магазина'", [value]="changeSet.details.name")
        kof-modification-detail([name]="'Описание магазина'", [value]="changeSet.details.description")
        kof-modification-detail([name]="'Местоположение в Интернете'", [value]="changeSet.location.url")
        kof-modification-detail([name]="'ID магазина'", [value]="changeSet.shopID")
        kof-modification-detail([name]="'ID договора'", [value]="changeSet.contractID")
        kof-modification-detail([name]="'ID инструмента вывода'", [value]="changeSet.payoutToolID")
