.dashboard_stats_count {
  font-size: 27px;
  line-height: 40px;
  font-weight: 600;
}

.outlet {
  min-height: 900px;
}

.credit_card_group {
  margin-bottom: 1px;
  label {
    padding-top: 0 !important;
    line-height: 1.3;
  }
}

.credit_card_description {
  font-size: 12px;
}

.custom_pagination {
  margin: 0;
}

.loading_spinner {
  width: 100% !important;
  font-size: 40px !important;
}

.custom-chevron {
  margin-top: 3px;
}

p-calendar.ui-inputtext {
  box-shadow: none;
  -webkit-box-shadow: none;
}
