.x_panel
    .x_title
        h4 Добавление нового магазина
    .x_content
        kof-loading([isLoading]="isLoading")
            form.form-horizontal.form-label-left.css-form(novalidate, name="form", #form="ngForm")
                .form-group([ngClass]="{'has-error': hasError(shopDetailsName)}")
                    .col-xs-12.col-sm-3
                        label.text-left Название магазина в системе
                            span.highlighted  *
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", required, name="shopName",
                        [(ngModel)]="shop.details.name", #shopDetailsName="ngModel",
                        (keyup)="keyup(form)")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Категория
                            span.highlighted  *
                    .col-xs-12.col-sm-6
                        kof-select(
                        [(ngModel)]="categoryID",
                        [items]="selectableCategories",
                        [modelOptions]="{standalone: true}",
                        name="category",
                        (onChange)="onCategoryChange(form)")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Описание магазина
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", name="shopDescription",
                        [(ngModel)]="shop.details.description",
                        (keyup)="keyup(form)")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left Адрес
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", name="shopLocationUrl", placeholder="https://example.com",
                        [(ngModel)]="shopLocationUrl.url", (keyup)="keyup(form)")
                .form-group
                    .col-xs-12.col-sm-3
                        label.text-left CallbackHandler URL
                    .col-xs-12.col-sm-6
                        input.form-control(type="text", name="callbackHandlerUrl", placeholder="https://example.com",
                        [(ngModel)]="callbackHandler.url", (keyup)="keyup(form)")
