form.form-horizontal.form-label-right
    .row
        .col-xs-6
            .form-group
                .col-xs-4
                    label.control-label Дата с
                .col-xs-6
                    .ui-calendar.search-form
                        p-calendar.ui-inputtext.search-form(name="searchFromTime", [(ngModel)]="searchFromTime", dateFormat = "dd.mm.yy", required)
            .form-group
                .col-xs-4
                    label.control-label Дата по
                .col-xs-6
                    .ui-calendar.search-form
                        p-calendar.ui-inputtext.search-form(name="searchToTime", [(ngModel)]="searchToTime", dateFormat = "dd.mm.yy", required)
        .col-xs-6
            .form-group
                .col-xs-4
                    label.control-label Статус платежа
                .col-xs-6
                    kof-select([(ngModel)]="searchParams.status", [items]="statuses", (onChange)="onCheckStatus()", [placeholder]="'Любой статус'", [modelOptions]="{standalone: true}", name='status')
            .form-group
                .col-xs-4
                    label.control-label Номер
                .col-xs-6
                    input.form-control(type="number", [(ngModel)]="searchParams.invoiceID", name="invoiceID")
            .form-group
                .row
                    .col-xs-10
                        button.btn.btn-primary.pull-right((click)="search()") Найти
