form.form-horizontal.form-label-left
    .row
        .col-xs-6
            .form-group
                .col-xs-4
                    label.control-label Дата с
                .col-xs-6
                    input.form-control(type="date", [(ngModel)]="searchFromTime", name="searchFromTime", required)
            .form-group
                .col-xs-4
                    label.control-label Дата по
                .col-xs-6
                    input.form-control(type="date", [(ngModel)]="searchToTime", name="searchToTime", required)
        .col-xs-6
            .form-group
                .col-xs-4
                    label.control-label Статус платежа
                .col-xs-6
                    select.form-control([(ngModel)]="searchParams.status", (ngModelChange)="onChangeStatus($event)", name="searchByStatus")
                        option([value]="''") Любой статус
                        option(*ngFor="let status of statuses", [value]="status.key") {{status.name}}
            .form-group
                .col-xs-4
                    label.control-label Номер
                .col-xs-6
                    input.form-control(type="number", [(ngModel)]="searchParams.invoiceID", name="invoiceID")
            .form-group
                .row
                    .col-xs-10
                        button.btn.btn-primary.pull-right((click)="search()") Найти
