.panel.panel-default
    .panel-heading((click)="show()")
        a Создание контракта
        i.fa.pull-right.custom-chevron([ngClass]="{'fa-chevron-down': showPanel, 'fa-chevron-right': !showPanel}")
    .panel-body(*ngIf="showPanel")
        kof-modification-detail([name]="'ID'", [value]="changeSet.contractID")
        kof-modification-detail([name]="'Наименование юр.лица'", [value]="changeSet.contractor.legalEntity.registeredName")
        kof-modification-detail([name]="'ОГРН'", [value]="changeSet.contractor.legalEntity.registeredNumber")
        kof-modification-detail([name]="'ИНН'", [value]="changeSet.contractor.legalEntity.inn")
        kof-modification-detail([name]="'Фактический адрес'", [value]="changeSet.contractor.legalEntity.actualAddress")
        kof-modification-detail([name]="'Почтовый адрес'", [value]="changeSet.contractor.legalEntity.postAddress")
        kof-modification-detail([name]="'Должность ЕИО/представителя'", [value]="changeSet.contractor.legalEntity.representativePosition")
        kof-modification-detail([name]="'ФИО ЕИО/представителя'", [value]="changeSet.contractor.legalEntity.representativeFullName")
        kof-modification-detail([name]="'Документ ЕИО/представителя'", [value]="changeSet.contractor.legalEntity.representativeDocument")
        kof-modification-detail([name]="'Наименование банка'", [value]="changeSet.contractor.bankAccount.bankName")
        kof-modification-detail([name]="'БИК'", [value]="changeSet.contractor.bankAccount.bankBik")
        kof-modification-detail([name]="'Корреспондентский счет'", [value]="changeSet.contractor.bankAccount.bankPostAccount")
        kof-modification-detail([name]="'Расчетный счет'", [value]="changeSet.contractor.bankAccount.account")

